h1{
    color: green;
}
h2>ins{
    color:  blue;
}
h3{
    background-color: pink;
    color: salmon;
    font-size: 20px;
}
div{
    background-color: rgb(243, 206, 137);
    
}
div#text1{
    color: blue;
}
div#text2{
    color: red;
}
div#text3{
    color: green;
}

